.groups-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.group-container {
    width: 45%;
    margin-bottom: 20px;
}

.group-title {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.slds-table th, .slds-table td {
    text-align: center;
    vertical-align: middle;
}
